*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.back{
    min-height: 110px;
    padding: 32px 0;
    background-color: #2a394f;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo img{
    padding-top: 5px;
    height: 100px;
    width: 100px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 19px;
    padding: 20px;
    color: white;
    display: block;
}

.menu .navbar ul li a:hover{
    color: blueviolet;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

@media(max-width:991px){

    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .back{
        padding: 83px 0;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #2a394f;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

}

section .cont-img1{
    height: 600px;
    width: 100%;

    background-image: url(img/RH2\ ANCHA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}

section .textInside {
    text-align: center;
    padding-top: 300px;
    color: rgb(255, 255, 255);
    text-shadow:black;
}

section .textInside p.p1{
    font-size: 25px;
}

section .textInside p.p2{
    font-size: 25px;
    color: black;
}